.featured-post {
	padding-top: 60px;
	padding-bottom: 60px;
}

.featured-post figure {
	width: 100%;
	max-width: 900px;
}

.featured-post figure img {
	width: 100%;
}

.featured-post .description {
	padding-top: 30px;
}

.featured-post .description h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.featured-post .description p {
	font-size: 16px;
	margin-bottom: 50px;
}

.ultimos-blogposts {
	margin-top: 60px;
	margin-bottom: 60px;
}

.ultimos-blogposts .card {
	margin-bottom: 60px;
}

.ultimos-blogposts .card figure {
	width: 100%;
	margin-bottom: 20px;
}

.ultimos-blogposts .card figure img {
	width: 100%;
}

.ultimos-blogposts .card h2 {
	margin-bottom: 20px;
}

.ultimos-blogposts .card p {
	font-size: 16px;
	margin-bottom: 40px;
	line-height: 1.5;
}

@media screen and (min-width: 600px) {
	.featured-post .grid {
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}
}

@media screen and (min-width: 1200px) {
	.featured-post .grid {
		grid-template-columns: 800px 1fr;
		gap: 40px;
	}

	.featured-post .description h1 {
		font-size: 42px;
	}

	.featured-post .description p {
		font-size: 18px;
	}

	.ultimos-blogposts .card p {
		font-size: 18px;
	}
}
