.featured-post {
	padding-top: 60px;
	padding-bottom: 60px;
}

.featured-post figure {
	max-width: 900px;
	margin-right: 60px;
}

.featured-post figure img {
	width: 100%;
}

.featured-post .description {
	padding: 60px 0;
}

.featured-post .description h1 {
	font-size: 48px;
	margin-bottom: 30px;
}

.featured-post .description p {
	font-size: 21px;
	margin-bottom: 60px;
}

.ultimos-blogposts {
	margin-top: 60px;
	margin-bottom: 60px;
}

.ultimos-blogposts .card {
	margin-bottom: 60px;
}

.ultimos-blogposts .card figure {
	width: 100%;
	margin-bottom: 20px;
}

.ultimos-blogposts .card figure img {
	width: 100%;
}

.ultimos-blogposts .card h2 {
	margin-bottom: 20px;
}

.ultimos-blogposts .card p {
	font-size: 18px;
	margin-bottom: 40px;
	line-height: 1.5;
}